.navbar-text {
	color: #fff;
  margin-left: 15px;
}

.navbar-brand {
	color: white;
	padding-top: 20px;
  font-size: 2.4em;
}

.navbar a {
	color: #fff;

	&:hover {
		color: #ddd;
	}
}

.navbar-nav {
	li {
		a:hover {
			background: transparent;
		}

		a:focus {
			background: transparent;
		}
	}
}

.navbar .dropdown-menu {
	display: inherit;
	background-color: rgba(0,0,0,.5);
	width: 300px;
	a {
		color: #fff;
		&:hover {
			color: #ddd;
		}
	}
	
}