
.angular-google-map-container {
    height: 100vh;
}

.details-panel-container {
	position: fixed;
	bottom: 30px;
	top: 55px;
	width: 100%;
	z-index: 5;
}

.details-panel {
	overflow: scroll;
	background-color: #ffffff;
	height: 100%;
	margin-right: 15px;
}

.test {
	height: 100px;
	width: 100px;
	background-color: blue;
}

.custom-window {
	position: relative;
	background-color: white;
	border-radius: 5px;
	max-width: 200px;
	-webkit-transform: translate(0, -100%);
	-webkit-transition: width 0.5s, height 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s;
    left: -10px;
    bottom: 25px;
}

.user-icon {
	color: white;
}

.chat-div {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 1px;
}

.profile-pic {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: blue;
	margin-right: 5px;
}

.comment-text {
	float: left;
}


.flex-container {
	display: flex;
	margin: 0;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-grow-1 {
	flex-grow: 1;
}